<% for(i=0;i<load;i++){ %>
    <div class="innerdiv" id="<%= data[i].Url %>" onclick=details(id)>
      <div class="imagediv">
    <img class= "image" src = "<%= data[i].Url %>" >
    </div>
    <h1 class = "title" ><%= data[i].Title %></h1>
    <div class="detailsdiv">
    <h1 class = "Price" ><%= data[i].Price %></h1>
    <input class="details" type="button" name="<%= data[i].Url %>"  value="View Details" onclick="details(name)">
  </div>
  </div>
    <% } %>